<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans SYSTEM "beans.dtd" >

<beans default-lazy-init="false">

	<bean class="me.bukp.uioc.test.object.Test1" id="test1"></bean>
	<bean class="me.bukp.uioc.test.object.Test2" id="test2" singleton="false"></bean>
	
	<bean class="me.bukp.uioc.test.object.Teacher" id="teacher">
		<constructor-arg>
			<value type="java.lang.Integer">1</value>
		</constructor-arg>
		<constructor-arg>
			<value type="java.lang.String">lorin</value>
		</constructor-arg>
	</bean>
	
	<bean class="me.bukp.uioc.test.object.ClassRoom" id="classroom">
		<constructor-arg>
			<value type="java.lang.String">moon</value>
		</constructor-arg>
		<constructor-arg>
			<ref bean="teacher" />
		</constructor-arg>
	</bean>
</beans>
